.form-titles-container {margin-bottom: var(--mg-nm);}

.subscribe-form-container {
    display: grid;
    margin: var(--mg-lg) auto;
    align-items: center;
    width: 80vw;
}

.subscribe-form {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    border-style: solid;
    border-width: .0625rem;
    border-color: var(--clr-main);
    width: 50%;
}

.contact-form-container {
    display: grid;
    align-items: center;
    width: 80vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 50%;
}

.contact-input {
    font-family: var(--ff-secondary);
    font-size: var(--fs-nm);
    font-weight: var(--fw-rg);

    padding: 0.5rem;
    border-style: solid;
    border-width: .0625rem;
    border-color: var(--clr-main);
    background: transparent;
    margin-top: .5rem;
}

.email {
    font-family: var(--ff-secondary);
    font-size: var(--fs-nm);
    font-weight: var(--fw-rg);

    border: none;
    padding: 0.5rem;
    width: 100%;
    background: transparent;
}

@media (max-width: 768px) {
    .subscribe-form {width: auto;}
    .form-items{ width: 100%;}
}