.hero-background{
    background: url(../../imgs/hero-background.jpg);
    background-position: center;
    background-size: cover;
    height: min(42.5rem, 50rem, 55rem);
    width: 100%;
}

.hero-container{
    display: grid;
    height: min(42.5rem, 50rem, 55rem);
    align-items: center;
    justify-content: center;
   
}

.hero-title-container{
    display: grid;
    width: 80vw;
}

.hero-texts-container{
    display: flex;
    flex-direction: column;
}

.hero-buttons-container{
    display: flex;
    gap: 1rem;
    margin-top: var(--mg-sm);
}

.hero-image-container{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px){
   
    .hero-buttons-container{
        display: grid;
    }
    
    }

       