.top-nav-container {
    display: flex;
    background: var(--clr-white);
    justify-content: center;
    padding-top: var(--mg-sm);
    padding-bottom: var(--mg-sm);
}

.top-nav {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.website-logo-container {
    height: auto;
    display: flex;

}

.website-logo {

    max-width: 100%;
    height: auto;

    position: relative;
}

#nav-container {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style-type: none;
    margin-left: 2rem;
}

.icons_container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.25rem;
}

#mobile-open-btn,
#mobile-close-btn {
    display: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.categories-buttons-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: var(--mg-sm) auto;
}


@media (max-width: 767px) {
    .website-logo-container {
        order: 1;
    }

    .icons_container {
        display: none;
    }

    #nav-container {
        opacity: 0;
        visibility: hidden;


        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        justify-content: start;
        position: absolute;
        width: auto;
        top: 0;
        right: 0;
        background-color: var(--clr-white);
        padding: 1rem;
        bottom: 0;
        z-index: 1;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: .5s;
    }

    #nav-container.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }

    .menu-filter-products-list {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 32px;
    }

    #mobile-open-btn {
        display: block;
        order: 2;
    }

    #mobile-close-btn {
        display: block;
    }

    .categories-buttons-container {
        justify-content: center;

    }

}