.top-nav-container{
    display: flex;
    background: var(--clr-white);
    justify-content: center;
    height: 5rem;
}

.top-nav{
    display: flex;
    width: 80vw;
}

.website-logo-container{
    width: 20%;
    height: auto;

}

.website-logo{
    
    max-width: 100%;
    height: auto;
    
    position: relative;
}

.nav-container{
    display: flex;
    width: 60%;
    justify-content: center;
}

.nav-list{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style-type: none;
    margin-left: 2rem;
}

.nav-list-link{
    color: var(--clr-main);
    text-decoration: none;
    font-size: var(--fs-sm);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    text-transform: uppercase;
    padding: .5rem;
    transition: 0.5s;
}

.nav-list-link:hover{
    background: var(--clr-main);
    color: var(--clr-white);
}

.icons_container{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.25rem;
    width: 20%;
}

/* LandScape Less than 768*/
@media (max-width: 768.98px) {
    .nav-list{
        display: grid;
        position: fixed;
        margin: 0;
        top: 0;
        gap: 2rem;
        right: -18rem;
        background: var(--clr-black-light);
        width: 35%;
        height: 100vh;
        align-content: center;
        text-align: right;
        z-index: 2;
        transition: right .35s;
        box-shadow: -.1rem 0 .5rem var(--clr-white);
        padding-right: 1rem;
    }

    .mobile-btn{
        position: fixed;
        top: 4rem;
        right: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 3;
    }

    .mobile-btn > span,
    .mobile-btn > span::before,
    .mobile-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: .2rem;
        background: var(--clr-main);
        transition-duration: .25s;
    }

    .mobile-btn > span::before{
        content: '';
        top: -.5rem;
    }

    .mobile-btn > span::after{
        content: '';
        top: .5rem;
    }

    .mobile-cb{
        display: block;
        position: fixed;
        top: 3rem;
        right: 1.6rem;
        width: 2rem;
        height: 1.7rem;
        z-index: 4;
        opacity: 0;
    }

    .mobile-cb:checked + .mobile-btn > span{
        transform: rotate(45deg);
    }

    .mobile-cb:checked + .mobile-btn > span::before{
        top: 0;
        transform: rotate(0deg);
    }

    .mobile-cb:checked + .mobile-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }

    .mobile-cb:checked  ~ .nav-list{
        right: 0;
    }

    .top-nav{
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
}