.hero-title1{
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-md), var(--fs-lg), var(--fs-xl));
    font-weight: var(--fw-rg);
    color: var(--clr-white);
    margin: 0;
}

.hero-title2{
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-xl), var(--fs-xxl), 7rem);
    font-weight: var(--fw-bk);
    line-height: 5rem;
    color: var(--clr-white);
    margin: 0;
}

.home-title1{
    font-family: var(--ff-main);
    font-size: var(--fs-lg);
    font-weight: var(--fw-rg);
    color: var(--clr-gray);
    margin: 0;
}

.home-title2{
    font-family: var(--ff-main);
    font-size: var(--fs-xl);
    font-weight: var(--fw-bk);
    color: var(--clr-main);
    margin: 0;
}

.nav-list-link{
    color: var(--clr-main);
    text-decoration: none;
    font-size: var(--fs-sm);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    text-transform: uppercase;
    padding: .5rem;
    transition: 0.5s;
}

.nav-list-link:hover{
    background: var(--clr-main);
    color: var(--clr-white);
}

.nav-menu-list-link{
    text-transform: capitalize;
}

.nav-menu-list-link.active{
    background: var(--clr-main);
    color: var(--clr-white);
}

.dish-title{
    margin: 0;
    text-transform: uppercase;

    font-family: var(--ff-secondary);
    font-size: var(--fs-nm);
    font-weight: var(--fw-sb);

    color: var(--clr-main);
}

.dish-type{
    margin: 0;
    text-transform:capitalize;

    font-family: var(--ff-secondary);
    font-size: var(--fs-esm);
    font-weight: var(--fw-rg);

    color: var(--clr-gray);
}

.dish-price{
    font-family: var(--ff-secondary);
    font-size: var(--fs-sm);
    font-weight: var(--fw-md);
    color: var(--clr-gray);
}

.slide-title{
    font-size: var(--fs-md);
    margin-bottom: 2rem;
}

.slide-amount{
    margin: .5rem auto;
}

.slide-description{
    font-size: var(--fs-sm);
    margin: .5rem auto;
}

.slide-price{
    margin-bottom: 2rem;
    font-size: var(--fs-nm);
}

.hero-text{
    margin: 0;

    font-family: var(--ff-secondary);
    font-size: var(--fs-sm);
    font-weight: var(--fw-lg);

    color: var(--clr-white);
}

.restaurant-data-title{
    font-size: var(--fs-md);
    margin-bottom: var(--mg-sm);
}

.restaurant-data-text{
    font-size: var(--fs-sm);
    margin: var(--mg-sm) auto;
}

.service-title{
    color: var(--clr-gray);
}

.footer-titles{
    color: var(--clr-white);
}

.nav-footer-link{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    font-size: var(--fs-nm);

    color: var(--clr-white);
    text-decoration: none;
}

.menu-header-title{
    color: var(--clr-white);
}

.footer-legal{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-lg);
    font-size: var(--fs-sm);
    color: var(--clr-white);
    text-align: center;
}




